@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

a {
    color: rgb(57, 44, 44);
    font-size: 50px;
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-color: chartreuse;
    font-family: 'Tilt Prism', cursive;
    padding: 150px;
}

p {
    color: rgb(109, 96, 81);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    border: 7px dotted rgb(160, 189, 216);

}
#divison1 {
    color: rgb(156, 138, 114);
    font-family: 'Caveat', cursive;
    font-size: 25px;

}
#p1{
    text-decoration-line: underline;
    text-decoration-color: rgb(144, 146, 104);
    font-family:'Tilt Prism' ;
    font-style: italic;
}


